body {
  background-color: #171a21 ;
/* background-image: url(img/gif/60b3fcd5d39627521827ac223d4e118a99b00e0e-1920x1080-transformed.jpg);
background-repeat: no-repeat;
background-size: cover; */
}

.login-container {
  background-color: #171a21;
  padding: 20px;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(121, 11, 11, 0.1); */
  width: 630px;
  height: 280px;
  text-align: center;
}



.username {
  position: relative;
  top: 15px;
  right: 120px;
  width: 350px;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid #ccc;
  /* border-radius: 4px; */
  font-style: italic;
}

.password {
  position: relative;
  top: 50px;
  right: 15px;
  width: 350px;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid #ccc;
  /* border-radius: 4px; */
}

.sign {
  width: 200px;
  background-color: rgb(22, 50, 163);
  color: white;
  padding: 10px 15px;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  position: relative;
  top: 120px;
  right: 290px;
}

button:hover {
  background-color:rgb(33, 63, 182);
}

.name {
  color: rgb(33, 63, 182);
  position: relative;
  bottom: 100px;
  right: 130px;
}

.pass {
  position: relative;
  bottom: 12px;
  right: 365px;
}

.login-container{
  position: relative;
  bottom: 450px;
  left: 600px;
}

.Qr{
  position: relative;
  left: 1035px;
  bottom: 725px;
}

.soura{
  position: relative;
  top: 100px;
  width: 1850px;
  height: 700px;
}
.makeacc{
  position: relative;
  bottom: 340px;
  left: 500px;
  width: 200px;
  background-color: rgb(22, 50, 163);
  color: white;
  padding: 10px 15px;
  border: none;
cursor: pointer;
}