body {
  background-color: #171a21 ;
/* background-image: url(img/gif/60b3fcd5d39627521827ac223d4e118a99b00e0e-1920x1080-transformed.jpg);
background-repeat: no-repeat;
background-size: cover; */
}

.login-container {
  background-color: #171a21;
  padding: 20px;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(121, 11, 11, 0.1); */
  width: 630px;
  height: 280px;
  text-align: center;
}



.username {
  position: relative;
  top: 15px;
  right: 120px;
  width: 350px;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid #ccc;
  /* border-radius: 4px; */
  font-style: italic;
}

.password {
  position: relative;
  top: 50px;
  right: 15px;
  width: 350px;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid #ccc;
  /* border-radius: 4px; */
}

.sign {
  width: 200px;
  background-color: rgb(22, 50, 163);
  color: white;
  padding: 10px 15px;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
  position: relative;
  top: 120px;
  right: 290px;
}

button:hover {
  background-color:rgb(33, 63, 182);
}

.name {
  color: rgb(33, 63, 182);
  position: relative;
  bottom: 100px;
  right: 145px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pass {
  position: relative;
  bottom: 12px;
  right: 360px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-container{
  position: relative;
  bottom: 450px;
  left: 600px;
}

.Qr{
  position: relative;
  left: 1035px;
  bottom: 725px;
}

.soura{
  position: relative;
  top: 100px;
  width: 1850px;
  height: 700px;
}
.makeacc{
  position: relative;
  bottom: 340px;
  left: 500px;
  width: 200px;
  background-color: rgb(22, 50, 163);
  color: white;
  padding: 10px 15px;
  border: none;
cursor: pointer;
}

.msg{
  position: relative;
  bottom: 380px;
  left: 660px;
  font-weight: 900;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.davdouv{
  position: relative;
  left: 150px;
  width: 400px;
}
h4{
  position: relative;
  bottom: 528px;
  left: 1100px;
  width: 300px;
  color: #262627;
}

.navbar {
  background-color: #171a21;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  left: 500px;
}

.logo img {
  width: 40px;
  /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  position: relative;
  right: 700px;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.nav-list a:hover {
  border-bottom: 2px solid #46a2e3;
  color: #368ac8;
}


.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px;
  background-color: #46a2e3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #368ac8;
}


.look{
  position: relative;
  bottom: 100px;
}