body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(img/Dirt_background_BE1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #171a21;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  left: 500px;
}

.logo img {
  width: 40px;
  /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 10px;
  position: relative;
  right: 700px;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}

.nav-list a:hover {
  border-bottom: 2px solid #46a2e3;
  color: #368ac8;
}


.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px;
  background-color: #46a2e3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #368ac8;
}


.back {
  position: relative;
  left: 2px;
  width: 1860px;
  height: 700px;
}





.topnav {
  overflow: hidden;
  background-color: rgb(4, 134, 226);
  width: 1000px;
  height: 35px;
  position: relative;
  bottom: 669px;
  left: 450px;
}

.topnav button {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 10px 25px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 13px;
  font-weight: 700;

}

.topnav button:hover {
  background-color: rgba(112, 130, 230, 0.452)
}

input {
  position: relative;
  left: 300px;
}

.direction {
  text-align: center;
}

.direction button {
  position: relative;
  bottom: 250px;
  font-family: cursive;
  font-weight: bold;
  background-color: #ffffff44;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 10px;
}

.direction button:hover {
  background-color: #1f1616;
}

.item {
  border-radius: 15px;
  width: 300px;
  height: 500px;
  background-color: rgba(26, 28, 38, 0.8);
  overflow: hidden;
  transition: 0.5s;
  margin: 10px;
  scroll-snap-align: start;
}

.item .avatar {
  display: block;
  margin: 50px auto 10px;
  width: 140px;
  height: 159px;
  object-fit: cover;
}



.item .content {
  padding: 30px;
  font-family: monospace;
}

.item .content table td {
  padding: 10px 0;
  border-bottom: 1px solid #AEC0CE;
}

.item .content table td:nth-child(2) {
  text-align: right;
}

.item .nameGroup {
  text-align: center;
  border-bottom: none !important;
}

#list {
  display: flex;
  width: max-content;
}

#formList {
  position: relative;
  bottom: 200px;
  width: 1280px;
  max-width: 100%;
  overflow: auto;
  margin: 100px auto 50px;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}

#formList::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1024px) {
  .item {
    width: calc(33.3vw - 20px);
  }

  .direction {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .item {
    width: calc(50vw - 20px);
  }

  .direction {
    display: none;
  }
}

.direction button {
  position: relative;
  bottom: 250px;
  font-family: cursive;
  font-weight: bold;
  background-color: #ffffff44;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
  margin: 0 10px;
}

.direction button:hover {
  background-color: #1f1616;
}

.item {
  border-radius: 15px;
  width: 300px;
  height: 500px;
  background-color: rgba(26, 28, 38, 0.8);
  overflow: hidden;
  transition: 0.5s;
  margin: 10px;
  scroll-snap-align: start;
}

.item .avatar {
  display: block;
  margin: 50px auto 10px;
  width: 100px;
  height: 150px;
  object-fit: cover;


}

.item .content {
  padding: 30px;
  font-family: monospace;
}

.item .content table td {
  padding: 10px 0;
  border-bottom: 1px solid #AEC0CE;
}

.item .content table td:nth-child(2) {
  text-align: right;
}

.item .nameGroup {
  text-align: center;
  border-bottom: none !important;
}

#list {
  display: flex;
  width: max-content;
}

#formList {
  position: relative;
  bottom: 200px;
  width: 1280px;
  max-width: 100%;
  overflow: auto;
  margin: 100px auto 50px;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}

#formList::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1024px) {
  .item {
    width: calc(33.3vw - 20px);
  }

  .direction {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .item {
    width: calc(50vw - 20px);
  }

  .direction {
    display: none;
  }
}